@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'rokh';
  font-style: bold;
  font-weight: 700;
  src: url('/font/Rokh-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'rokh';
  font-style: regular;
  font-weight: 400;
  src: url('/font/Rokh-Regular.woff2') format('woff2');
}

body {
  font-family: 'rokh', sans-serif;
  direction: rtl;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
